body {
    background-color: blue;
}
h1, h2, p, ul, ol, a {
    font-size: 1.2rem;
    color:aqua;
    margin: 20px;
    padding: 20px;
}
.content {
    margin: 20px;
}
.content-left {
    display: flex;
    position: relative;
    left: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}
.content-right {
    display: flex;
    position: relative;
    right: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}
.picture {
     width: 50%;
     height: 50%;
}
p {
      text-align: right;
    }
    .container {
      display: flex; 
      justify-content: center; 
      align-items: center;
    }
    .block {
      display: inline-block;
      height: 200px; 
      width: 200px;
      background-color: #E0FFFF;
    }
    .containertwo {
      display: flex; 
      justify-content: center;
      align-items: center;
    }
    .blocktwo {
      display: flex; 
      justify-content: center;
      align-items: center;
      height: 200px; 
      width: 200px;
      background-color: #87CEFA;
    }
    .containerthree {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      border: solid;
      background-color: green;
    }
    .blockthree {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: 200px; 
      width: 200px;
      background-color: #20B2AA;
    }
    .first {
      border: solid red;
      position: relative;
      top: 100px;
      left: 100px;
      width: 100px;
      height: 100px;
    }
    .second {
      border: solid blue;
      position: relative;
      top: 150px;
      left: 150px;
      width: 100px;
      height: 100px;
    }
    .third {
      border: solid green;
      position: relative;
      top: 200px;
      left: 200px;
      width: 100px;
      height: 100px;
    }
    .cat {
    position: fixed;
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
    }
.carousel-inner {
  display: flex;
  justify-content: space-around;
}

.carousel-item {
  height: 300px;
  width: auto;
}

.cards {
  display: flex;
  flex-direction: row;
}

article {
  width: 33%;
  margin: 10px 15px;
}
article img {
  margin: 10px;
}


