.table {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
.table th {
    text-align: left;
    padding: 10px;
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 10px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8;
}
.table tbody tr:nth-child(1) {
    background: greenyellow;
}
.table tbody tr:nth-child(2) {
    background: blue;
}
.table tbody tr:nth-child(3) {
    background: blueviolet;
}.table tbody tr:nth-child(4) {
    background: violet;
}
.table tbody tr:nth-child(5) {
    background: red;
}
.table tbody tr:nth-child(6) {
    background: pink;
}
.table tbody tr:nth-child(7) {
    background: brown;
}
.table tbody tr:nth-child(8) {
    background: yellow;
}
.table tbody tr:nth-child(8) {
    background: orange;
}
